# Python
engine/.venv/
engine/.mypy_cache/
engine/.pytest_cache/
engine/build/
engine/dist/
engine/*.egg-info/

# LaTeX
*.aux *.fdb_latexmk *.fls *.log *.out *.synctex.gz *.toc *.bbl *.blg
rules/build/
concordance/build/

# OS/Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
